

body, html {
    padding: 0;
    font-family: "微软雅黑",'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    color: #3d86cd;
}

/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
body {
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;

}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 1050px;
}

.pad-top {
    padding-top: 15px;
}

/*==============================================
    MENU STYLES
    =============================================*/

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 50px;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

    background: #F3F3F3;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;

}

.navbar-inverse {

    background-color: #214761;
    border-color: #F0F0F0;
    min-height: 80px;
}

.nav > li > a > i {
    margin-right: 10px;
}

.logout-spn {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 20px;
    margin: 35px 25px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
}

.active-link {
    background-color: #f3f3f3;
}

/*==============================================
    DASHBOARD STYLES
    =============================================*/
.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;

}

.div-square > a, .div-square > a:hover {
    color: #808080;
    text-decoration: none;
}

/*==============================================
    FOOTER STYLES
    =============================================*/
.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}

.footer > a, .footer > a:hover {

    color: #fff;
}

/*==============================================
    MEDIA QUERIES
    =============================================*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;

    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;

    }

}

.tips{
    width: 100%;
    text-align: center;
    color:#4169e1;
}

/*of1706   样式定义*/
.block{
    display:block;
}
.mt40{
  margin-top:40px;
}
.mb30{
  margin-bottom: 30px !important;
}
.plr25{
  padding:0 25px;
}
.gray {
  color: #666 !important;
}
.font-normal{
  font-weight:normal !important;
}
.text-right:{
  text-align:right;
}
.table.text-center tr th{
  text-align:center;
}
.btn-primary:hover{
  background-image: none;
  border-color: rgba(42,205,213,.8);
  background-color: rgba(42,205,213,.8);
}
.form-horizontal .control-label{
  padding:4px 5px 4px 0!important;
  line-height:30px;
}
.form-horizontal label.control-label{
  font-weight:normal;
}
.form-control{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.container-fluid.padding0{
  padding: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.header {
  position: relative;
  border-bottom: 2px solid #cfd4d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  z-index: 11;
  line-height: 100px;
}
.header.row{ margin: 0;}
.header .nav, .header .subnav .subnav-in, .main, .rank-main, .leak-main {
  max-width: 1200px;
  margin: 0 auto;
}
.header .col-md-7{
  padding-left:3%;
}
.header .col-md-5{
  position: absolute;
  right: 3%;
  bottom: -2px;
  width: auto;
}
.header img{
  width:300px;
  height:54px;
  background-sizing:100%;
}
.header .navbar {
  margin-bottom: 0px;
}
.header .navbar-nav{
    line-height: 1;
}
.header .navbar-nav>li a{
  display: block;
  color: #666;
  font-size: 18px;
  padding: 30px 25px;
  line-height: inherit;
}
.header .navbar-nav>li a:hover{
    background: transparent;
}
.header .navbar-nav>li.active {
  border-bottom: 2px solid #2acdd5;
}
.header .navbar-nav>li.active a{
  color: #2acdd5;
}
.header .subnav {
  position: absolute;
  top: 102px;
  left: 0;
  width: 100%;
  line-height: 35px;
  background: #f1f1f1;
  opacity: 0.7;
  z-index: 10;
}
.header .subnav .loginbar {
  float: right;
  font-size: 0;
  height: 35px;
}
.header .subnav .loginbar .login,.header .subnav .loginbar .register {
  font-size: 14px;
  padding-right: 20px;
}
.header .subnav a {
  color: #666;
}
.header .subnav a:hover{
    cursor: pointer;
    text-decoration: none;
}
.header .navbar-nav .dropdown-menu{
  left:-13px;
  min-width: 100px;
}
.header .navbar-nav>li>.dropdown-menu >li>a{
 padding:15px 30px;
 font-size:14px;
 text-align: center;
}
.header .navbar-nav>li>.dropdown-menu >li>a:hover{
 cursor: pointer;
 text-decoration: underline;
 color:#2acdd5;
}
/*banner begin*/
.banner{
  max-width: 1920px;
  max-height: 420px;
  margin-left: auto;
  margin-right: auto;
}
.banner .item{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.banner .item img{
    width:100%;
    height:100%;
}
.btn-primary {
  background-image: none;
  border-color: #2acdd5;
  background-color: #2acdd5;
}
.btn-group-lg>.btn, .btn-lg {
  width:200px;
  line-height: 30px;
  font-size: 25px;
  border-radius: 0px;
}
.btn-group-lg>.btn, .btn-lg:hover{
    background-color:#2acdd5;
    border-color: #2acdd5;
}
.container.container-carousel .carousel-caption { top: 9px;}
.container.container-carousel .carousel-caption p{margin-bottom:8px;}
.container{ margin-top: 40px;}
/*featurette begin*/
.main{
  margin-top:53px;
}
.info {
        padding: 0px;
        font-color: '#c0c0c0';
}
.featurette .col-md-7{
  padding-left:0;
  padding-right:30px;
}
.featurette .col-md-5{
  padding-left:30px;
  padding-right:0;
}
.featurette h3.cont-title{
  display:inline-block;
  margin:0;
  line-height: 32px;
  font-size: 18px;
  border-bottom: 1px solid #2acdd5;
  color:#333;
}
.cont-text{
  line-height: 25px;
  margin-top:25px;
}
.post-cont ul.cont-text{
  padding-left:0;
  line-height: initial;
}
.post-cont ul li{
  padding: 9px 0;
  list-style: none;
  background: url(../images/dashed.png) repeat-x left top transparent;
}
.post-cont ul li a{
  display: block;
  margin-right: 95px;
  color: #666;
  line-height: 1.42857143;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*子页面*/
.safe-title {
  margin-top: 65px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
}
.safe-title strong{
  font-weight: normal;
}
/*子页面  礼品兑换*/
.mainbox{
  width: 1040px;
  margin: 0 auto;
  margin-top: 35px;
}
.itembox {
  display: block;
  width: 190px;
  height: 290px;
  text-align: center;
  border: 1px solid #C1C1C1;
  float: left;
  margin: 0 5px 20px 5px;
}
.itembox.panel{
  border-radius: 0;
}
.itembox .imgwrap {
  width: 130px;
  height: 140px;
  margin: 10px auto;
  line-height: 140px;
}
.itembox .imgwrap img{
  max-width: 130px;
  max-height: 130px;
}
.itembox p{
  display: block;
  max-width: 200px;
  margin:0;
  color: #666;
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.itembox p .green{
  color:green;
}
.itembox p .red{
  color:red;
}
.itembox .btn-default{
  background: #f3f2f2;
  line-height: 19px;
  border: 1px solid #ddd;
  overflow: hidden;
  cursor: pointer;
  color: #333;
  padding-left: 11px;
  padding-right: 11px;
  display: inline-block;
}
/*post 子页面*/
.table-standard.table>tbody>tr>td{
  padding: 12px 0;
  border-top: none;
}
.table-standard.table tbody tr{
  color: #666;
  background: url(../images/dashed.png) repeat-x left top transparent;
}
.table-standard.table tbody tr p{
  margin-bottom:0;
}
.table-standard.table tbody tr:first-child{
  padding-top: 0;
  background: none;
}
.table-standard.table tbody tr td:nth-child(2) .label{
 color:#666;
}
/*子页面 login*/
.login-cont{
  margin-top:65px;
}
.login-cont li.safe-title {
  margin-top:0;
  list-style: none;
}
.form-horizontal{
  max-width: 600px;
  margin: 0 auto;
}
.login-cont .safe-title a{
  color:#333;
}
.form-horizontal.form-horizontal-normal .form-control{
  height:40px;
}
.form-horizontal.form-horizontal-normal .form-group .col-md-9>.col-md-9{
  padding-left:0;
}
.form-horizontal.form-horizontal-normal .form-group .col-md-9>.col-md-3{
  line-height: 40px;
}

/*center 子页面*/
.div-class {
  max-width: 1100px;
  margin: 0 auto;
}
.div-class-small {
  max-width: 825px;
  margin: 0 auto;
}
.div-class-xsmall {
  max-width: 750px;
  margin: 0 auto;
}
.personal-box+.div-class-small .info{
  margin-bottom:0;
}
.personal-box .panel-heading .row{
  padding:0 30px;
}
.personal-box .panel-info {
  border-color: #84c7e9;
}
.personal-box .panel-warning {
  border-color: #ffcc99;
}
.personal-box .panel-danger {
  border-color: #ffcccc;
}
.personal-box .panel-heading a:hover{
 text-decoration: none;
}
.personal-box .panel-info>.panel-heading a{
  color:#37799a;
}
.personal-box .panel-warning>.panel-heading a{
  color:#ba7937;
}
.personal-box .panel-danger>.panel-heading a{
  color:#bf7979;
}
.personal-box .panel-footer{
  border-top:0;
}
.personal-box .panel-footer a{
  color:#595757;
}
.personal-box .panel-info>.panel-heading {
  background-color: #84c7e9;
  border-color: #84c7e9;
  background-image: none;
}
.personal-box .panel-warning>.panel-heading {
  background-color: #ffcc99;
  border-color: #ffcc99;
  background-image: none;
}
.personal-box .panel-danger>.panel-heading {
  background-color: #ffcccc;
  border-color: #ffcccc;
  background-image: none;
}

/*center/leak 子页面*/
.edui-default .edui-editor-bottomContainer table {
 height: 30px;
}
/*漏洞详情  子页面*/
.status-read{
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: #2acdd5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.table-standard.table tbody tr p.mList {
  margin-right:10px;
}

/*user／pwd 子页面*/
.form-horizontal .form-group .col-sm-6>.col-sm-9{
  padding-left:0;
}
/*edit 资料修改子页面*/
.inline-text{
  display:inline-block;
  margin-top:3px;
}
/*list 兑换的礼品*/
.table-center tr th,.table-center tr td{
  text-align:center;
}
.table-center tr td{
  font-weight: normal;
}
/*post 公告*/
.post_inform-cont .table>tbody>tr>td,.post-cont .table>tbody>tr>th, .post-cont .table>tfoot>tr>td, .post-cont .table>tfoot>tr>th, .post-cont .table>thead>tr>td, .post-cont .table>thead>tr>th {
  border-top: none;
}
.post_inform-cont .safe-title a:hover{
 text-decoration: none;
}
.post_inform-cont .table tbody td h2{
  font-size:26px;
} 
.post_inform-cont .table tbody tr td h1{
  font-size:18px;
}
.post_inform-cont .table tbody tr td>.table tr.firstRow th:first-child{
  width:10%;
}
.post_inform-cont .table tbody tr td>.table tr.firstRow th,.post_inform-cont .table >.table td{
  text-align: center;
}
.post_inform-cont .table tbody ul.member-remind li,.post_inform-cont .table tbody ul.member-warning li{
  list-style: none;
}
.post_inform-cont .table tbody tr:nth-child(2) td p a{
 font-size:16px;
}
.post_inform-cont .table tbody tr:nth-child(2) td h1.title{
  font-size:20px;
}
.post_inform-cont .table tbody tr:nth-child(2) center img{
  max-width:300px;
  max-height:300px;
}
.post_inform-cont .table tbody tr:nth-child(2) center p:first-child{
  margin-top:20px;
}
.post_inform-cont .table tbody tr:nth-child(2) center p:nth-child(2){
  margin-bottom:35px;
}
.post_inform-cont ul.pager li{
  background:none;
}
.post_inform-cont ul.pager li a {
  display: inline-block;
}

/*foot样式*/
footer{
	color: #999;
    text-align: center;
    margin-top: 80px;
}
footer .list {
    display: inline-block;
    margin: 0 auto;
}
footer .list li {
    float: left;
    padding: 0 5px;
    line-height: 1;
    border-left: 1px solid #999;
    list-style: none;
}
footer .list li:first-child {
    border-left: none;
}
footer .list li a {
    color: #999;
    text-decoration: none;
}
footer .copyright {
    margin-top: 10px;
    line-height: 1;
}
.well{
	background: no-repeat;
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
}

/*错误页面*/
.qm_error{
	width: 700px;
	height: 350px;
	margin: 150px auto;
	background: url(../images/error.png)no-repeat;
}
.error-info{
	width: 260px;
	height: 100px;
	padding-top: 130px;
	margin-left: 370px;
}
.error-info p{
	color: #fc2426;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
}
.error-info a{
	height: 26px;
	line-height: 26px;
	width: 85px;
	text-align: center;
	overflow: hidden;
	float: left;
	margin-left: 30px;
	 background: #fff;
	 text-decoration: none;
}
